.custom-container {
  background-color: #EADFB4;
  padding: 20px;
  border-radius: 8px;
}

.custom-title {
  color: #9BB0C1;
}

.custom-btn-primary {
  background-color: #51829B;
  border-color: #51829B;
}

.custom-input-group {
  max-width: 300px;
}

.custom-btn-search {
  background-color: #9BB0C1;
  border-color: #9BB0C1;
  color: #EADFB4;
}

.custom-thead {
  background-color: #9BB0C1;
  color: #EADFB4;
}

.custom-btn-info {
  background-color: #9BB0C1;
  border-color: #9BB0C1;
}

.custom-btn-dark {
  background-color: #51829B;
  border-color: #51829B;
}

.custom-btn-danger {
  background-color: #F6995C;
  border-color: #F6995C;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
}